.order-list {
    overflow: scroll;
}

.order-food__wrap {
    display: flex;
    margin-top: 8px;
    height: 5.8rem;
}

.order-food__img {
    width: 85px;
    height: 85px;
    border-radius: 10px;
}

.order-food__ops {
    height: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-food__icon-minus {
    color: #ff7e02;
}

.order-food__icon-add {
    display: inline-block;
    width: 2rem;
    color: #ffac26;
}

.order-food__ops-wrap {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-food__ops-left {
    display: inline-block;
    width: 4rem;
    height: 100%;
}

.order-food_count {
    height: '100%';
    width: '1rem';
    text-align: 'center';
    line-height: '1.8rem';
    margin: '0 auto';
}

.order-total {
    position: fixed;
    bottom: 4.25rem;
    left: 7.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    z-index: 5;
}